:root {
    --border-color1: rgb(240, 196, 160);
    --border-color2:  rgb(239, 183, 138);
}
body {
  background-color: #fff4dc;
  color: #6e4d05;
  margin: 5%;
}
.box {
  background-color: var(--border-color1);
  border-radius: 4%;
  text-align: center;
  border:  5px solid var(--border-color2);
  padding: 1,5%;
}
#map-container {
    position: relative;
    display: inline-block;
}
#map-image {
    width: 90vw;
    margin: 0 auto;
    padding: 1,5%;
    background-color: var(--border-color1);
    border: 5px solid var(--border-color2);
    box-sizing: border-box;
}
#map-image img {
    width: 100%;
    height: auto;
    display: block;
}
.pin {
    position: absolute;
    width: 7%;
    height: auto;
    transform: translate(-50%,-100%);
    cursor: pointer;
    background: transparent;
}
 