:root {
    --dark-grey-color: rgb(37, 37, 37);
}
@font-face {
    font-family: font-basic;
    src: url(font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: font-headers;
    src: url(font/Arizonia-Regular.ttf);
}
.navbar {
    background-color: var(--dark-grey-color);
    padding: 1%;
    display: flex;
    gap: 2%;
    font-family: font-headers;
    align-items: center;
    font-size: 1.8rem;
}
.nav-button{
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10%;
}
.navbutton:hover {
    border: 2px solid white;
}
.navbar > :first-child {
    background-color: var(--dark-grey-color);
    color: white;
    text-align: center;
    padding: auto;

}