:root {
    --dark-grey-color: rgb(37, 37, 37);
}
@font-face {
    font-family: font-basic;
    src: url(font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: font-headers;
    src: url(font/Arizonia-Regular.ttf);
}
.body {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: var(--dark-grey-color);
    top: 0;
    left: 0;
    padding: 1%;
    display: flex;
    gap: 2%;
    font-family: font-headers;
    align-items: center;
    font-size: 1.8rem;
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 5;
}
.nav-button{
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    border: 2px solid black;
}
.nav-button:hover {
    border: 2px solid white;
}
.navbar > :first-child {
    color: white;
    text-align: center;
    padding: auto;
}
.landscape-container {
    position: relative;
    display: inline-block;
    top: 2rem;
    width: 80%;
    margin-left: 10%;
    height:auto;
}
.black-box {
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    width: 100%;
    height: 100%;
}
.landscape-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}
.landscape-text {
    font-family: font-headers;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 5rem;
    z-index: 3;
}
.text-after {
    margin-top: 10%;
    font-family: font-basic;
    text-align: center;
    font-size: 1.2rem;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.photos {
    margin: 5%;
    width: 90%;
}
.headers {
    margin-top: 7rem;
    font-family: font-headers;
    text-align: center;
    font-size: 3.5rem;
}
#dest-section {
    font-family: font-basic;
}
#dst-section section {
    
    font-family: font-basic;
    margin:10%;
}
#dst-section section p {
    font-size: 1.5rem;
}
.calender {
    font-family:font-basic;
    margin: 4%;
    width: 92%;
    border-collapse: collapse;
    border: 2px solid black;
}
.calender th {
    border: 2px solid var(--dark-grey-color);
    padding: 1%;
    text-align: center;
    overflow: hidden;
    width: calc(90%/12);
    font-size: 0.85rem;
    font-family: font-basic;
    color: white;
    background-color: var(--dark-grey-color);
}
.calender td {
    padding: 0.5%;
    border: 2px solid black;
    font-size: 0.5rem;
    font-family: font-basic;
    font-weight:bold;
}