:root {
    --dark-grey-color: rgb(37, 37, 37);
}
@font-face {
    font-family: font-basic;
    src: url(font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: font-headers;
    src: url(font/Arizonia-Regular.ttf);
}
.navbar {
    background-color: var(--dark-grey-color);
    padding: 1%;
    display: flex;
    gap: 2%;
    font-family: font-headers;
    align-items: center;
    font-size: 1.8rem;
    position: fixed;
    height: 5rem;
    width: 100%;
    z-index: 5;
}
.nav-button{
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    border: 2px solid black;
}
.nav-button:hover {
    border: 2px solid white;
}
.navbar > :first-child {
    color: white;
    text-align: center;
    padding: auto;
}
.landscape-container {
    position: relative;
    top: 9em;
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    height:auto;
}
.black-box {
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    width: 100%;
    height: 100%;
}
.landscape-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
}