:root {
    --dark-grey-color: rgb(37, 37, 37);
}
@font-face {
    font-family: font-basic;
    src: url(font/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: font-headers;
    src: url(font/Arizonia-Regular.ttf);
}
.body {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: var(--dark-grey-color);
    top: 0;
    left: 0;
    padding: 1%;
    display: flex;
    gap: 2%;
    font-family: font-headers;
    align-items: center;
    font-size: 1.8rem;
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 5;
}
.nav-button{
    padding: 1%;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10%;
    border: 2px solid black;
}
.nav-button:hover {
    border: 2px solid white;
}
.navbar > :first-child {
    color: white;
    text-align: center;
    padding: auto;
}
.landscape-container {
    position: relative;
    display: inline-block;
    top: 2rem;
    width: 80%;
    margin-left: 10%;
    height:auto;
}
.black-box {
    position: absolute;
    top: 0;
    left:0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    width: 100%;
    height: 100%;
}
.landscape-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 2;
    opacity: 0.7;
}
.landscape-text {
    font-family: font-headers;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 5rem;
    z-index: 3;
}
.text-after {
    margin-top: 10%;
    font-family: font-basic;
    text-align: center;
    font-size: 1.2rem;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.photos {
    margin: 5%;
    width: 90%;
}
.headers {
    margin-top: 7rem;
    font-family: font-headers;
    text-align: center;
    font-size: 3.5rem;
}
#dest-section {
    font-family: font-basic;
}
#dst-section section {
    
    font-family: font-basic;
    margin:10%;
}
#dst-section section p {
    font-size: 1.5rem;
}
.calender {
    font-family:font-basic;
    margin: 4%;
    width: 92%;
    border-collapse: collapse;
    border: 2px solid black;
}
.calender th {
    border: 2px solid var(--dark-grey-color);
    padding: 1%;
    text-align: center;
    overflow: hidden;
    width: calc(90%/12);
    font-size: 0.85rem;
    font-family: font-basic;
    color: white;
    background-color: var(--dark-grey-color);
}
.calender td {
    padding: 0.5%;
    border: 2px solid black;
    font-size: 0.5rem;
    font-family: font-basic;
    font-weight:bold;
}
.chinese-spring-festival {
    background-color: rgb(255, 0, 0);
}
.holi {
    background-color: rgb(221, 6, 124);
}
.songkran {
    background-color: rgb(255, 231, 15);
}
.diwali {
    background-color: brown;
}
.latern {
    background-color: darkgoldenrod;
}
.slideshow-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x-mandatory;
    gap: 2%;
    padding: 1%;
    margin: 1% 5% 5% 5%;
    width: 90%;
}
.item {
    flex: 0 0 20%;
    border-radius: 2%;
    padding: 2%;
    scroll-snap-align: start;
    text-align: center;
    background-color: #efefef;
    height: 6%;
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.item img {
    width: 100%;
    height: 8rem;
    border-radius: 2%;
    display: block;
    margin-bottom: 5%;
}
.slideshow-container::-webkit-scrollbar {
    height: 5%;
}
.slideshow-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2%;
}
.slideshow-container::-webkit-scrollbar-track {
    background: #eee;   
}
.little-headers {
    font-family: font-headers;
    font-size: 3rem;
    margin-left: 10%;
    margin-bottom: 0;
}
p {
    font-family: font-basic;
}
.simple-header {
    font-family: font-headers;
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
}
.paragraph {
    max-width: 85%;
    margin: 3% 12% 5%;
    line-height: 1.5;
}
.table-tips {
    text-align: center;
    width: 80%;
    margin: 10%;
    border-collapse: collapse;
}
.table-tips td {
    text-align: left;
    font-family: font-basic;
    padding: 1%;
    border-top: 2px solid rgb(130, 130, 130);
    border-bottom: 2px solid rgb(130, 130, 130);
    transition: all 0.3 ease;
    cursor: pointer;
    overflow: hidden;
}
.table-title {
    font-weight: 600;
    font-size: 1 rem;
    margin-bottom: 0.5em;
}
.table-info {
    font-size: 0.9rem;
    line-height: 1.5;
    max-height: 0;
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 0.4s ease;
}
.table-tips td:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.8);
}
.table-tips td:hover .table-info {
    max-height: 20em;
    opacity: 1;
    transform: translateY(0);
}
.gallery {
    column-count: 3;
    column-gap: 2rem;
    width: 90%;
    margin: 5%;
    font-size: 0;
}
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    break-inside: avoid;
    transition: transform 0.3s ease;
    font-size: initial;
    border-radius: 5px;
}
gallery img:hover {
    transform: scale(1.3);
}